<!DOCTYPE HTML>
<html>
  <head>
    <title>Ligipääs keelatud</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/vendor/bootstrap-4.0.0-alpha.5.min.css">
    <link rel="stylesheet" href="/css/vendor/dataTables.bootstrap4.min.css">
  </head>
  <body>
    <div class="alert alert-danger">
      <strong>Stopp!</strong> Kasutajal puudub õigus lehe vaatamiseks.
    </div>
  </body>
</html>