<!DOCTYPE HTML>
<html>
  <head>
    <title>Kooskõlastaja</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.css">

    <script src="/js/index.js"></script>
    <script src="/js/vendor/jquery-3.1.1.min.js"></script>
    <script src="/js/vendor/jquery.dataTables.min.js"></script>
    <script src="/js/vendor/tether.min.js"></script>
    <script src="/js/vendor/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">

    <script>
      $(function() {
        var approver = new Approver();
        approver.init();
      });
    </script>
  </head>
  <body>
    <h1>Infosüsteemide nimekiri</h1>
    <#include 'table.html'/>
  </body>
</html>