<!DOCTYPE HTML>
<html>
  <head>
    <title>Kooskõlastaja</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/vendor/bootstrap-4.0.0-alpha.5.min.css">
    <link rel="stylesheet" href="/css/vendor/dataTables.bootstrap4.min.css">
    <script src="/js/vendor/jquery-3.1.1.min.js"></script>
    <script src="/js/vendor/jquery.dataTables.min.js"></script>
    <script src="/js/vendor/jquery.dataTables.bootstrap4.min.js"></script>
    <script src="/js/vendor/core.js"></script>
    <script src="/js/vendor/enc-base64.js"></script>
    <script src="/js/vendor/hmac.js"></script>
    <script src="/js/vendor/sha256.js"></script>
    <script src="/js/Approver.js"></script>
    <script type="text/javascript">
    
     $(function() {
        new Approver('${infosystemsUrl}').init();
      });

    </script>
  </head>
  <body>
  <input type="text" id="first_name" placeholder="Eesnimi"/>
  <input type="text" id="last_name" placeholder="Perekonnanimi"/>
  <input type="text" id="register_code" placeholder="Registrikood"/>
  <input type="text" id="institution_name" placeholder="Ettevõtte nimetus"/>
    <#include 'table.html'/>
  </body>
</html>