<!DOCTYPE HTML>
<html>
  <head>
    <title>Kooskõlastaja</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/vendor/bootstrap-4.0.0-alpha.5.min.css">
    <link rel="stylesheet" href="/css/vendor/dataTables.bootstrap4.min.css">
    <script src="/js/vendor/jquery-3.1.1.min.js"></script>
    <script src="/js/vendor/jquery.dataTables.min.js"></script>
    <script src="/js/vendor/jquery.dataTables.bootstrap4.min.js"></script>
    <script src="/js/Approver.js"></script>
    <script src="/js/vendor/core.js"></script>
    <script src="/js/vendor/enc-base64.js"></script>
    <script src="/js/vendor/hmac.js"></script>
    <script src="/js/vendor/sha256.js"></script>
    <script type="text/javascript">
     function getBase64Encoded(rawStr){
    	 var wordArray = CryptoJS.enc.Utf8.parse(rawStr);
    	 var result = CryptoJS.enc.Base64.stringify(wordArray);
    	 return result;
     }
    
    //because it's mockup the header, payload an signature info is hard coded.
     function createJWT(){
    	 var txtHeader = '{ "alg":"HS256", "typ":"JWT" }';
    	 var txtPayload = '{ "iss":"RIHA autoriseerija", "iat":1491903351, "exp":1491989751, "sub":{ "isikukood":"60107110134", "nimi":{ "eesnimi":"Eero", "perekonnanimi":"Vegmann" } }, "asutus":{ "registrikood":"70006317", "nimetus":"Riigi Infosüsteemi Amet" }, "rollid":{ "roll":"HINDAJA" } }';
    	 var txtsecret = 'password';
    	 
    	 var base64Header = getBase64Encoded(txtHeader);
    	 var base64Payload = getBase64Encoded(txtPayload);
    	 
    	 var signature = CryptoJS.HmacSHA256(base64Header + "." + base64Payload, txtsecret);
    	 var base64Sign = CryptoJS.enc.Base64.stringify(signature);
    	 
    	 console.log(base64Header + "." + base64Payload + "." + base64Sign);
     }
     
    
     $(function() {
        new Approver('${infosystemsUrl}').init();
      });
     
     $("#btnSuccess").click(function(){
    	 	alert("Great Success!");
    	    createJWT();
    	});
    </script>
  </head>
  <body>
    <#include 'table.html'/>
  </body>
</html>