<style>
  .hidden {
    display: none;
  }
</style>

<table id="info-systems-table" class="table table-sm table-hover">
  <thead>
    <tr>
      <th class="owner">Omanik</th>
      <th class="name">Infosüsteemi nimi</th>
      <th class="last-modified">Avaldamise aeg</th>
      <th class="approved">Kinnitamise aeg</th>
      <th class="approve">Kinnita infosüsteem</th>
    </tr>
  </thead>
  <tbody>
    <tr class="template-row hidden">
      <td class="owner"></td>
      <td class="name"></td>
      <td class="last-modified"></td>
      <td class="approved"></td>
      <td class="approve text-sm-right"><button class="btn btn-sm btn-outline-success">Kinnita</button></td>
    </tr>
  </tbody>
</table>