<style>
  .hidden {
    display: none;
  }

  table {
    width: 100%;
  }

  th, td {
    text-align: left;
  }
</style>

<table>
  <thead>
    <tr>
      <th>Omanik</th>
      <th>Infosüsteemi nimi</th>
      <th>Avaldamise aeg</th>
      <th>Kinnitamise aeg</th>
      <th>Kinnita infosüsteem</th>
    </tr>
    <tr class="template-row hidden">
      <td class="owner"></td>
      <td class="name"></td>
      <td class="last-modified"></td>
      <td class="approved"></td>
      <td><button disabled>Kinnita</button></td>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>