<div class="container-fluid my-1">
  <div class="table-responsive">
    <input type="text" id="first_name" placeholder="Eesnimi"/>
  	<input type="text" id="last_name" placeholder="Perekonnanimi"/>
  	<input type="number" id="register_code" placeholder="Registrikood"/>
 	<input type="text" id="institution_name" placeholder="Ettevõtte nimetus"/>
    <table id="info-systems-table" class="table table-striped table-bordered dataTable" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th class="owner">Omanik</th>
          <th class="name">Infosüsteemi nimi</th>
          <th class="objective">Eesmärk</th>
          <th class="last-modified">Viimati muudetud</th>
          <th class="status">Staatus</th>
          <th class="approved">Kooskõlastatud</th>
          <th class="approval-status">Kooskõlastamise staatus</th>
          <th class="approve text-sm-right">Tegevused</th>
        </tr>
      </thead>
      <tbody>
        <script id="row-template" type="text/x-custom-template">
          <tr>
            <td class="owner"></td>
            <td class="name"></td>
			<td class="objective"></td>
            <td class="last-modified text-nowrap"></td>
            <td class="status"></td>
            <td class="approved text-nowrap"></td>
            <td class="approval-status text-nowrap"></td>
            <td class="approve text-nowrap text-sm-right">
              <button id="btnSuccess" class="btn btn-sm btn-outline-success" value="${approvedStatus}">Kooskõlasta</button>
              <button class="btn btn-sm btn-outline-danger" value="${notApprovedStatus}">Ei kooskõlasta</button>
            </td>
          </tr>
        </script>
      </tbody>
    </table>
  </div>
</div>